/* background colour and animation code start */

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation:change 5s ease-in-out infinite;
}
@keyframes change {
    0%{
        background-position: 0 50% ;
      }
      50%{
        background-position:100% 50% ;
      }
     100%{
        background-position:0 50%;
      }
}
/* background colour and animation code end */
.curved {
    text-align: center;
    color: white;
    height: 175px;
    padding-top: 60px;
}
.curved h1{
    font-size: 100px;
    color: Red;
}
/* about Deblina start*/
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section
{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items:center;
   justify-content:center;
  /* background-color:white; */
   color:black;
}
#Dphoto{
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    border-radius: 100%;
}
#Dname{
    margin-left:25px;
    padding-left:7px;
    font-family: Lobster;
}
.Deblina
{  
   padding-bottom: 150px;
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.DeblinaRight
{
   width: 50%;
   height: 400px;
   background-color: white;
   border-radius: 10px;
   display: flex;
   align-items: left;
   justify-content: center;
   z-index: 50px;
   padding: 30px;
}
.DeblinaRight h2
{
    font-size:40px;
    font-weight: lighter;
    color:rgb(12, 66, 30);
}
.DeblinaRight p
{
    margin-top: 5px;
}
#connectionD
{
    align-items: left;
    margin: 10px;
    
}
/* about deblina end*/

/*about suraj start*/
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section
{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items:center;
   justify-content:center;
  /* background-color:white; */
   color:black;
}
#Sname{
    margin-left: 50px;
    font-family: Lobster;
}
#Scontent{
    line-height:23px;
}
.Suraj
{  
   padding-bottom: 150px;
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
#Sphoto{
    height: 400px;
    width: 330px;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.SurajRight
{
    width: 50%;
   height: 405px;
   background-color: white;
   border-radius: 10px;
   display: flex;
   align-items: left;
   justify-content: center;
   z-index: 50px;
   padding: 30px;
}
.SurajRight h2
{
    font-size:40px;
    font-weight: lighter;
    color:rgb(12, 66, 30);
}
#connectionS
{
    align-items: left;
    margin: 10px;
    
}
/* about suraj end*/

/*code for navigation bar starts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 75 px;
    background-color: green;
    line-height: 65px;
    padding:0px 100px;
    position: fixed;
    z-index: 1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 5px 8px 12px black;
}
nav .logo p{
    float: left;
    color:#fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
     display: inline-block;
     list-style: none;
}

 ul a:link, a:visited {
    /* background-color: #2ddb36; */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border: 1px solid rgb(92, 146, 114);
    border-radius: 5px;
    /* background: #03e9f4; */
    /* color: #fff; */
  }
  
  ul a:hover, a:active {
      font-weight: bolder;
      background-color:rgb(145, 217, 223);
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

/* for boxes (containers) having topics */
.topic-boxes{
    display:grid;
    grid-template-columns: repeat(auto-fit, 50%);  /*decide yourself how many columns to make in page, giving each column a width of 50% (we have 2 cols, so 50% is best thing)*/
    grid-template-rows: repeat(1, 400px);       /* 1 row of 100px */
    margin: 10px;
    padding-top: 150px;
    box-shadow: 15px;
}
#c1 , #c2{
    display: flex;
    justify-content:center;
    align-items: center;

    color: white;

    border: 2px solid rgb(25, 150, 199);
    border-radius: 3mm;
    background-color: #555;

    margin: 20px;
}
/*navigation bar code ends here*/

/*connection button starts*/
.wrapper{
    margin-left:28px;
}
.wrapper .button 
{
   display: inline-block;
   height: 60px;
   width: 60px;
   float:left;
   margin: 0 5px;
   overflow: hidden;
   border-radius:50px; 
   cursor: pointer;
   box-shadow:10px 10px 0px rgba(124, 63, 63, 0.1);
   /* transition: all 0.3 ease-out; */
}
.wrapper .button:hover{
    height: 200px;
}
#IDverticallydown{
   float:left;
   margin:10px 10px 5px;
   padding:0px 0px 47px;
   transform:rotate(270deg);
   }
#GDverticallydown{
    float:left;
    margin:0px 10px 5px;
    padding:20px 0px 40px 0px;
    transform:rotate(270deg);
    }
#LDverticallydown{
    float:left;
    margin:0px 10px 5px;
    padding:20px 0px 50px 0px;
    transform:rotate(270deg);
}
#TSverticallydown{
    float:left;
    margin:10px 10px 5px;
    padding:0px 0px 15px;
    transform:rotate(270deg);
    }
#LSverticallydown{
        float:left;
        margin:10px 10px 5px;
        padding:0px 0px 35px;
        transform:rotate(270deg);
        }
.wrapper .button .icon {
    display: inline-block;
   height: 60px;
   width: 60px;
   text-align: center;
   border-radius:50px;
   box-sizing: border-box;
   line-height: 60px;
}
.wrapper .button .icon i{
    font: size 25px;
    line-height: 60px;
}
.wrapper .button span{
    font-size:20px;
    font-weight: 500px;
    line-height: 60px;
    margin-left: 10px;
    color: #fff;
}
#githubcolor{
  background: black;
}
#instagramcolor{
    background:#E73C7E;
}
#linkedincolor{
    background:#046183;
}
#twittercolor{
    background:#23A6D5;
}

/*connection button ends*/
