.curved {
    background: rgb(252, 200, 252);
    text-align: center;
    color: white;
}
.curved h1{
    font-size: 100px;
    color: Red;
}
/* about Deblina start*/
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section
{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items:center;
   justify-content:center;
  /* background-color:white; */
   color:black;
}

.Deblina
{
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.DeblinaLeft
{
   width: 50%;
   height: 400px;
   background: url(./formal_deblina.jpg);
   border-radius: 10px;
   z-index: 40px;
}
.DeblinaRight
{
   width: 50%;
   height: 400px;
   background-color: blue;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 50px;
}
/* about deblina end*/

/*code for navigation bar starts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 75 px;
    background-color: green;
    line-height: 65px;
    padding:0px 100px;
    position: fixed;
    z-index: 1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 5px 8px 12px black;
}
nav .logo p{
    float: left;
    color:#fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
     display: inline-block;
     list-style: none;
}

a:link, a:visited {
    /* background-color: #2ddb36; */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border: 1px solid rgb(141, 189, 161);
    border-radius: 5px;
    /* background: #03e9f4; */
    /* color: #fff; */
  }
  
  a:hover, a:active {
      font-weight: bolder;
      background-color:rgb(145, 217, 223);
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

/* for boxes (containers) having topics */
.topic-boxes{
    display:grid;
    grid-template-columns: repeat(auto-fit, 50%);  /*decide yourself how many columns to make in page, giving each column a width of 50% (we have 2 cols, so 50% is best thing)*/
    grid-template-rows: repeat(1, 400px);       /* 1 row of 100px */
    margin: 10px;
    padding-top: 150px;
    box-shadow: 15px;
}
#c1 , #c2{
    display: flex;
    justify-content:center;
    align-items: center;

    color: white;

    border: 2px solid rgb(25, 150, 199);
    border-radius: 3mm;
    background-color: #555;

    margin: 20px;
}
/*navigation bar code ends here*/