/* importing fonts used [from google] (will replace) */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril Fatface');
/* 
*{
    margin:0;
} 
*/

/* ---fill video in screen (but then check responsiveness; not good) */
/* body {
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
} */
/* ----------------------------------------------------------------- */

body {
    background-color: antiquewhite;
}
#bgvideo {
    opacity: 0.75;
}
/* ----------------------------------------------------------------- */

/* -------------------CSS for: To write text on video. -------------- -------------*/
/* will change it to specifically change the font of text on video */
#text-on-video{
    font-family: Lobster, Italic;
    font-size: 70px;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 0px 2px rgba(255, 255, 255, 1);
}

/* to allow text to be placed on video */
.videoBG{
    position: absolute;
    top: 0;
    z-index: -1; 
}

.cover {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height:100vh;
}

/* for the form (after name on video) */
.flex-form {
    display:flex;
    border:20px solid rgba(0,0,0,0.3);
    border-radius:5px;
    width: 400px;
}
/* input[type="search"] {
    padding: 10px;
    font-size: 16px;
    border-radius:5px;
    width: 100%;
    text-align: center;
} */
/* ----------------------------------------------------------------- */

/*-------------- setting bgvideo responsive --------------*/
/* for screen which is too wide, maintain 16/9 ratio
keep width 100%; height auto */
@media (min-aspect-ratio: 16/9){
    #bgvideo {
        overflow:hidden;
        width:100%;
        height:auto;
    }
}
/* for screen that's too long: maintain 16/9 ratio
and height 100% width auto*/
@media (max-aspect-ratio: 16/9) {
    #bgvideo { 
        width:auto;
        height: 100%;
    }
}
/* for screen which has width<=767px (i.e. small devices)
don't show video, show poster only */
@media (max-width: 767px) {
    #bgvideo {
        display: none;
    }
    body {
        background: url('poster.png');
        background-size:inherit;
        overflow: hidden;
    }
}
/* ----------------------------------------------------------------- */

/*CODE FOR NAVIGATION BAR START*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    height: 75 px;
    background-color: green;
    line-height: 65px;
    padding:0px 100px;
    position: fixed;
    z-index: 1;
}
nav .logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 5px 8px 12px black;
}
nav .logo p{
    float: left;
    color:#fff;
    text-transform: uppercase;
}
nav ul{
    float: right;
}
nav ul li{
     display: inline-block;
     list-style: none;
}

a:link, a:visited {
    /* background-color: #2ddb36; */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border: 1px solid rgb(141, 189, 161);
    border-radius: 5px;
    /* background: #03e9f4; */
    /* color: #fff; */
  }
  
  a:hover, a:active {
      font-weight: bolder;
      background-color:rgb(145, 217, 223);
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

/* for boxes (containers) having topics */
.topic-boxes{
    display:grid;
    grid-template-columns: repeat(auto-fit, 50%);  /*decide yourself how many columns to make in page, giving each column a width of 50% (we have 2 cols, so 50% is best thing)*/
    grid-template-rows: repeat(1, 400px);       /* 1 row of 100px */
    margin: 10px;
    padding-top: 150px;
}
#c1 , #c2{
    display: flex;
    justify-content:center;
    align-items: center;

    color: white;

    border: 2px solid rgb(25, 150, 199);
    border-radius: 3mm;
    background-color: #555;
    
    margin: 20px;
}