/* importing fonts used [from google] (will replace) */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril Fatface');
html {
    font-size: 20px;
    background-color: antiquewhite;
    /* overflow-y: hidden; */
    
}
/* ----------------------------------------------------------------- */

/* -------------------CSS for: To write text on video. -------------- -------------*/
/* will change it to specifically change the font of text on video */
.cover {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /* height:60vh; */
    /* margin-top: 10rem; */
    padding-top: 5rem;
}
#text-on-video{
    font-family: Lobster, Italic;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 0.5rem;
    text-shadow: .2rem 0rem 0.2rem rgb(78, 49, 49);
}
/* to allow text to be placed on video */
.videoBG{
    position: fixed;
    top: 0;
    z-index: -1;
}
#bgvideo {
    opacity: 0.75;
}

/* for the form (after name on video) */
.flex-form {
    display:flex;
    border:1rem solid rgba(0,0,0,0.3);
    border-radius:.5rem;
    width: 20rem;
}
/*-------------- setting bgvideo responsive --------------*/
/* for screen which is too wide, maintain 16/9 ratio
keep width 100%; height auto */
@media (min-aspect-ratio: 16/9){
    #bgvideo {
        overflow:hidden;
        width:100%;
        height:auto;
    }
}
/* for screen that's too long: maintain 16/9 ratio
and height 100% width auto*/
@media (max-aspect-ratio: 16/9) {
    #bgvideo { 
        width:auto;
        height: 100%;
    }
}
/* for screen which has width<=767px (i.e. small devices)
don't show video, show poster only */
@media (max-width: 767px) {
    #bgvideo {
        display: none;
    }
    body {
        background: url('poster.jpeg');
        background-size:inherit;
        overflow: hidden;
    }
}
/* ----------------------------------------------------------------- */

/*CODE FOR NAVIGATION BAR START*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header>nav{
    width: 100%;
    height: 4rem;
    background-color: green;
    line-height: 2.5rem;
    position: fixed;
    /* z-index: 1; */
}
header>nav>.logo{
    /* display: inline block; */
    width: 20%;
    font-size:1.8rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 5px 8px 12px black;
    /* text-align: left; */
    float: left;
    margin-left: 0.8rem;
    padding-left: .4rem;
    margin-top: 0.8rem;
    color: white;
    text-transform: uppercase;
    /* border: 2px outset rgb(209, 16, 16); */
    /* background-color:lightcoral; */
}
header>nav>.logo>a, #c1>a, #c2>a {
    color: white;
    text-decoration: none;
} 
header>nav>ul{
    margin-top:0.8rem;
    float: right;
    margin-right: 0.9rem;
}
header>nav>ul>li{
     display: inline-block;
     list-style: none;
}

header>nav>ul>li>a:link, nav>ul>li>a:visited {
    /* background-color: #2ddb36; */
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border: 1px solid rgb(141, 189, 161);
    border-radius: 0.4rem;
}
  
header>nav>ul>li>a:hover, nav>ul>li>a:active {
      font-weight: bolder;
      background-color:rgb(145, 217, 223);
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
  }

/* for boxes (containers) having topics */
.topic-boxes{
    display:grid;
    grid-template-columns: repeat(auto-fit, 50%);  /*decide yourself how many columns to make in page, giving each column a width of 50% (we have 2 cols, so 50% is best thing)*/
    grid-template-rows: repeat(1, 20rem);       /* 1 row of 100px */
    margin-top: 22rem;
    box-shadow: 1.5rem;
}
/* @media (max-height: 740px){
    .topic-boxes { margin-top: 15rem; }
} */
#c1 , #c2{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 30%;
    color: white;
    font-size: 1.5rem;
    border: 0.1px solid rgb(25, 150, 199);
    /* background-color: #e98f18c0; */
    /* background-color: #d00000ad; */
    /* background-color: #ffb4a2; */
    /* background-color: #ff4d6d; */
    background-color: #ffd60a;
    margin: 1rem;
    transition: font-size 2s, box-shadow 1s;
}
#c1 {
    border-radius: 50% / 20% 10% 40%;
}

#c2 {
    border-radius: 50% / 10% 28% 18%;
}
#c1:hover {
    /* transform: scale(1.09); */
    font-size: 1.8rem;
    box-shadow: -0.9rem 0.7rem 0.5rem 0.1rem  black ;
}
#c2:hover {
    font-size: 1.8rem;
    box-shadow: 0.9rem 0.7rem 0.5rem 0.1rem  black ;
}
