/* background colour and animation code start */

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E,#23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation:change 5s ease-in-out infinite;
}
@keyframes change {
    0%{
        background-position: 0 50% ;
      }
      50%{
        background-position:100% 50% ;
      }
     100%{
        background-position:0 50%;
      }
}
/* background colour and animation code end */
.curved {
    text-align: center;
    color: white;
    height: 175px;
    padding-top: 60px;
}
.curved h1{
    font-size: 100px;
    color: Red;
}
/* about Deblina start*/
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section
{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items:center;
   justify-content:center;
  /* background-color:white; */
   color:black;
}
#Dphoto{
    height: 400px;
    width: 300px;
    background-repeat: no-repeat;
    border-radius: 100%;
}
#Dname{
    margin-left:25px;
    padding-left:7px;
    font-family: Lobster;
}
.Deblina
{  
   padding-bottom: 150px;
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.DeblinaRight
{
   width: 50%;
   height: 400px;
   background-color: white;
   border-radius: 10px;
   display: flex;
   align-items: left;
   justify-content: center;
   z-index: 50px;
   padding: 30px;
}
.DeblinaRight h2
{
    font-size:40px;
    font-weight: lighter;
    color:rgb(12, 66, 30);
}
.DeblinaRight p
{
    margin-top: 5px;
}
#connectionD
{
    align-items: left;
    margin: 10px;
    
}
/* about deblina end*/

/*about suraj start*/
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

section
{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items:center;
   justify-content:center;
  /* background-color:white; */
   color:black;
}
#Sname{
    margin-left: 50px;
    font-family: Lobster;
}
#Scontent{
    line-height:23px;
}
.Suraj
{  
   padding-bottom: 150px;
   width: 90%;
   max-width: 1000px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
#Sphoto{
    height: 400px;
    width: 330px;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.SurajRight
{
    width: 50%;
   height: 405px;
   background-color: white;
   border-radius: 10px;
   display: flex;
   align-items: left;
   justify-content: center;
   z-index: 50px;
   padding: 30px;
}
.SurajRight h2
{
    font-size:40px;
    font-weight: lighter;
    color:rgb(12, 66, 30);
}
#connectionS
{
    align-items: left;
    margin: 10px;
    
}
/* about suraj end*/

/*connection button starts*/
.wrapper{
    margin-left:28px;
}
.wrapper .button 
{
   display: inline-block;
   height: 60px;
   width: 60px;
   float:left;
   margin: 0 5px;
   overflow: hidden;
   border-radius:50px; 
   cursor: pointer;
   box-shadow:10px 10px 0px rgba(124, 63, 63, 0.1);
   transition: all 0.3s ease-in-out;
}
.wrapper .button:hover{
    height: 200px;
}
#IDverticallydown{
   float:left;
   margin:10px 10px 5px;
   padding:0px 0px 47px;
   transform:rotate(270deg);
   }
#GDverticallydown{
    float:left;
    margin:0px 10px 5px;
    padding:20px 0px 40px 0px;
    transform:rotate(270deg);
    }
#LDverticallydown{
    float:left;
    margin:0px 10px 5px;
    padding:20px 0px 50px 0px;
    transform:rotate(270deg);
}
#TSverticallydown{
    float:left;
    margin:10px 10px 5px;
    padding:0px 0px 15px;
    transform:rotate(270deg);
    }
#LSverticallydown{
        float:left;
        margin:10px 10px 5px;
        padding:0px 0px 35px;
        transform:rotate(270deg);
        }
.wrapper .button .icon {
    display: inline-block;
   height: 60px;
   width: 60px;
   text-align: center;
   border-radius:50px;
   box-sizing: border-box;
   line-height: 60px;
}
.wrapper .button .icon i{
    font: size 25px;
    line-height: 60px;
}
.wrapper .button span{
    font-size:20px;
    font-weight: 500px;
    line-height: 60px;
    margin-left: 10px;
    color: #fff;
}
#githubcolor{
  background: black;
}
#instagramcolor{
    background:#E73C7E;
}
#linkedincolor{
    background:#046183;
}
#twittercolor{
    background:#23A6D5;
}

/*connection button ends*/